{{ encore_entry_link_tags('loginForm') }}
<form method="post">
    <h3>Seems like u did not create hero yet, please create hero</h3>
    {% for message in app.flashes('warning') %}
        <div class="flash-warning">
            {{ message }}
        </div>
    {% endfor %}
    <label for="name">Hero name</label>
    <input type="text" name="name"/>
    <label for="sex">Pick sex</label>
    <span>
        <input type="radio" id="female" name="sex" value="Female">
        <label for="female">Female</label>
    </span>
    <span>
        <input type="radio" id="male" name="sex" value="Male">
        <label for="male">Male</label>
    </span>
    {% for class in classes %}
        <div> {{ class.name }}
        <input type="radio" id="male" name="class" value="{{ class.name }}">
        <label for="male">{{ class.description}}</label>
        </div>
    {% endfor %}
    <button type="submit">Create hero</button>
</form>