{{ encore_entry_link_tags('nav') }}
{{ encore_entry_script_tags('nav') }}
<nav>
    <ul >
        <li class="dropdown"> <a>MENU</a>
        <ul>
{#            <li {% if app.request.requesturi=='/p2w'%}class="active" {% endif %}>#}
{#                <a href="{{ path('index') }}">P2W section</a>#}
{#            </li>#}
            <li {% if app.request.requesturi=='/'%}class="active" {% endif %}>
                <a href="{{ path('index') }}">Main Page</a>
            </li>
            <li {% if app.request.requesturi=='about'%}class="active" {% endif %}>
                <a href="{{ path('index') }}">About</a>
            </li>
            {% if app.user %}
            <li class="dropdown"><a href="#">Hello {{ app.user.email }}</a>
                <ul>
                    <li><a href="{{ path('logout') }}">Log out</a></li>
                </ul>
            </li>
            {% else %}
            <li class="dropdown"><a href="#">Login or register </a>
                <ul>
                    <li>
                        <a href="{{ path('login') }}">Log in</a>
                    </li>
                    <li>
                        <a href="{{ path('register') }}">Create account</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
        </li>
    </ul>
</nav>